<%- include("../includes/boilerplate.ejs") %>

<script>
  let category= "<%= singleList.category%>";
</script>
<a href="javascript:history.back()" class="show-back-btn"><i class="fa-solid fa-circle-arrow-left" style="font-size: 2em;"></i></a>

<h2 style="text-align: center">Edit your WanderLust location</h2>
<form
  action="/listings/<%=singleList._id%>?_method=PUT"
  method="post"
  class="edit-form"
  enctype="multipart/form-data"
>
  <div class="new-form-box">
    <label for="title">Title: </label>
    <input type="text" name="title" value="<%= singleList.title%>" required />
  </div>

  <div class="new-form-box">
    <label for="description">Description: </label>
    <textarea
      name="description"
      placeholder="Enter full description of the place"
      rows="5"
      cols="50"
    >
<%= singleList.description%></textarea
    >
  </div>

  <div class="new-form-box">
    <label for="category">Choose your category: </label>
    <select name="category" id="category">
      <option value="trending">Trending</option>
      <option value="beach">Beach</option>
      <option value="snow">Snow</option>
      <option value="mountain">Mountain</option>
      <option value="tropical">Tropical</option>
      <option value="lake">Lake</option>
      <option value="bed_and_breakfast">Bed & Breakfast</option>
      <option value="a_frames">A Frames</option>
      <option value="golfing">Golfing</option>
      <option value="domes">Domes</option>
      <option value="iconic_cities">Iconic Cities</option>
      <option value="warehouse">Warehouse</option>
      <option value="creative_spaces">Creative Spaces</option>
      <option value="yatch">Yatch</option>
    </select>
  </div>

  <!-- 
      <div class="new-form-box">
        <label for="image">Image URL/Link: </label>
        <input type="text" name="image" value="<%= singleList.image.url%>" required />
      </div> -->

  <div class="edit-img-box">
    <div class="new-form-box">
      <label for="image">Upload New Image: </label>
      <input type="file" id="image" name="image" onchange="previewPhoto()" />
    </div>
    <img src="<%=singleList.image.url%>" alt="" id="file-preview" />
  </div>

  <div class="new-form-price-gst">
    <div class="new-form-box price">
      <label for="price">Price: </label>
      <input
        type="number"
        name="price"
        value="<%= singleList.price%>"
        required
      />
    </div>

    <div class="new-form-box gst">
      <label for="gst">GST in %: </label>
      <div class="flex" style="align-items: flex-start; justify-content: left">
        <input
          type="number"
          id="gst"
          name="gst"
          placeholder="8"
          value="<%=singleList.gst%>"
          required
          style="width: 100%"
        />
        <div class="percentage-mark">%</div>
      </div>
    </div>
  </div>

  <div class="new-form-price-gst">
    <div class="new-form-box location">
      <label for="location">Location: </label>
      <input
        type="text"
        name="location"
        value="<%= singleList.location%>"
        required
      />
    </div>

    <div class="new-form-box country">
      <label for="country">Country: </label>
      <input
        type="text"
        name="country"
        value="<%= singleList.country%>"
        required
      />
    </div>
  </div>

  <button class="add-btn">Edit</button>
</form>
<%- include("../includes/footer.ejs") %>
